*{
			box-sizing: border-box;
		}

		body{
			font-family: Arial, Helvetica, sans-serif;
		}
		/*Style the header*/

		header{ 
			background-color: #666;
			padding: 30px;
			text-align: center;
			font-size: 35px;
			color: white;
		}

		nav{
			float: left;
			width: 30%;
			height: 300px;
			background: #ccc;
			padding: 20px;
		}

		nav ul{
			list-style-type: none;
			padding: 0;

		}
		 article{

		 	float: left;
		 	padding: 20px;
		 	width: 70%;
		 	background-color: #f1f1f1;
		 	height: 300px;
		 }

		 section:after{
		 	content:"";
		 	display: table;
		 	clear: both;
		 }

		 footer{
		 	background-color: #777;
		 	padding: 10px;
		 	text-align: center;
		 	color: white;

		 }
		 @media(max-width: 600px){
		 	nav,article{
		 		width: 100%;
		 		height: auto;
		 	}
		 }

			 #boxA,#boxB{
			 	float:left;
			 	width: 100px;
			 	height: 200px;
			 	padding: 10px;
			 	margin: 10px;
			 	font-size: 70%;

			 }

			 #boxA{
			 	background-color: blue;
			 }
			 #boxB{
			 	background-color: green;
			 }

			 #drag, #drag2{
			 	width: 50px;
			 	padding: 5px;
			 	margin: 5px;
			 	border: 3px black solid;
			 	line-height: 50px;

			 }

			 #drag{
			 	background-color: red;
			 }

			 #drag2{
			 	background-color: orange;
			 }

			 div p strong a{
			 	color: green;
			 }

			 

			 a[target]{
			 	background-color: #81BEF7;
			 }

			  a[target = "blank"]{
			 	background-color: #DBA901;
			 }

			 [title ~= "flor"]{
			 	border: 5px solid yellow;
			 }

			 [class |= top]{
			 	color: #2E2E2E;
			 }

			 [class ^= top]{
			 	background-color: #A9BCF5;
			 }


			 [class $= "test"]{
			 	background-color: #81BEF7;
			 }

			 [class *= "te"]{
			 	color: #8A0808;
			 }

			 :root{
			 	background-color: #D8D8D8;
			 }

			 p:nth-child(2){
			 	color: #0B610B;
			 }

			  p:nth-last-child(2){
			 	color: #0B610B;
			 }

			 #teste{
			 	color: white; background-color: gray; -webkit-transition: 0.5s;
			 	position: absolute;
			 	left: 100px;
			 	top: 150px;
			 }

			 #teste:hover{
			 	color: #D8D8D8; background-color:#0B610B; -webkit-transition: 0.5s;
			 }

			 #testdisplay{
			 	display: none;
			 }

			 #testdisplay1{
			 	display: inline;
			 }

			 #testdisplay2{
			 	display: block;
			 }

			 #testdisplay3{
			 	display: inline-block;
			 }

